// Style Guide
// Use Google HTML/CSS Style Guide
// http://qiita.com/Sugima/items/785644372397595644ba

@import 'vendor/sanitize.scss';

$gray: #777;
$gray-dark: #3d3c40;
$gray-light: #96a1ad;
$blue: #448aff;
$brand1: #00cdac;
$brand2: #02aab0;
$white: #fff;
$gray-border: #e9eced;
$gray-background: #f7f7f7;
$max-width: 768px;

* {
  box-sizing: border-box;
}

body {
  background: $gray-background;
  color: $gray-dark;
  font-family: 'Exo', 'Helvetica Neue', Helvetica, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1;
  word-break: break-all;
}

a {
  color: $blue;
  text-decoration: none;
}

p {
  line-height: 1.5;
}

header {
  background: $brand1;
  background: -webkit-linear-gradient(to left, $brand2 , $brand1);
  background: linear-gradient(to left, $brand2 , $brand1);
  text-align: center;
  margin-bottom: 48px;
  padding: 24px 0;
  @media (min-width: 768px) { padding: 48px 0 24px; text-align: left; }
  h1 {
    background-image: image-url('logo.png');
    background-size: 24px;
    background-position: left center;
    display: inline-block;
    font-size: 18px;
    height: 24px;
    line-height: 24px;
    margin-bottom: 12px;
    padding-left: 24px + 12px;
    a {
      color: $white;
      &:hover { border-bottom: 2px solid $white; }
    }
  }
  p {
    color: $white;
    font-size: 12px;
    font-weight: bold;
  }
}

footer {
  background-color: $white;
  color: $gray-light;
  font-size: 12px;
  margin-top: 48px;
  padding: 48px 0;
  text-align: center;
  a {
    color: $gray-light;
    text-decoration: underline;
    &:hover { text-decoration: none; }
  }
  .github {
    margin-bottom: 12px;
  }
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
  width: 100%;
}

.spacer {
  padding-left: 8px;
  padding-right: 8px;
}

.title-date {
  margin: 0 0 8px 4px;
}

.btn-more {
  border: 2px solid $brand1;
  border-radius: 50%;
  color: $brand1;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  text-align: center;
  width: 100px;
  &:hover {
    background-color: $brand1;
    color: $white;
    transition: all 0.2s;
  }
}

.radios {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.radios .radio {
  background-color: $white;
  border: 1px solid $gray-border;
  border-radius: 4px;
  display: block;
  margin: 4px;
  width: calc(50% - 8px); // columns -> 2
  @media (min-width: 425px) { width: calc(33.333333% - 8px); } // columns -> 3
  @media (min-width: 568px) { width: calc(25% - 8px); } // columns -> 4
  @media (min-width: 768px) { width: calc(20% - 8px); } // columns -> 5

  .image {
    background-size: cover;
    border-bottom: 1px solid $gray-border;
    display: block;
    height: 88px;
  }
  .inner {
    padding: 8px;
  }
  .name, .description, .pubdate, .station {
    color: $gray-dark;
    line-height: 1.25;
  }
  .name {
    font-size: 12px;
    font-weight: 700;
  }
  .description, .pubdate, .station {
    color: $gray;
    font-size: 10px;
    margin-top: 4px;
  }
  &:hover {
    background-color: $gray-background;
  }
}
