// Style Guide
// Use Google HTML/CSS Style Guide
// https://google.github.io/styleguide/htmlcssguide.xml

$gray: #777;
$gray-dark: #3d3c40;
$gray-light: #96a1ad;
$blue: #448aff;
$brand: #00cdac;
$white: #fff;
$gray-border: #e9eced;
$gray-background: #f7f7f7;
$max-width: 960px;
$root-cursor: inherit !default;
$opacity: 0.75;

@import 'vendor/sanitize.scss';

* {
  box-sizing: border-box;
}

body {
  background: $gray-background;
  color: $gray-dark;
  font-family: 'Lato', Helvetica, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1;
  word-break: break-all;
}

a {
  color: $blue;
  text-decoration: none;
}

p {
  line-height: 1.5;
}

header {
  background: white;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.12);
  margin-bottom: 24px;
  padding: 12px 0;
  text-align: center;
  h1 { display: inline-block; }
  h1:hover { opacity: $opacity; }
}

footer {
  background-color: $white;
  color: $gray-light;
  font-size: 12px;
  margin-top: 48px;
  padding: 48px 0;
  text-align: center;
  p { margin-bottom: 6px; }
  p:last-of-type { margin-bottom: 0; }
  a:hover { text-decoration: underline; }
  .github {
    a:hover { opacity: .5; }
  }
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
  width: 100%;
}

.spacer {
  padding-left: 8px;
  padding-right: 8px;
}

.remark {
  margin-bottom: 24px;
  p {
    color: $gray-dark;
    font-size: 12px;
    padding: 4px;
  }
}

.adsense {
  margin-bottom: 24px;
  max-width: 728px;
  text-align: center;
  .adsbygoogle { display: inline-block; }
}

.title-date {
  font-size: 16px;
  margin: 0 0 8px 4px;
}

.btn-more {
  border: 2px solid $brand;
  border-radius: 50%;
  color: $brand;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  text-align: center;
  width: 100px;
  &:hover {
    background-color: $brand;
    color: $white;
    transition: all 0.2s;
  }
}

.radios {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.radios .radio {
  background-color: $white;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.12), 0px 1px 1px 0px rgba(0,0,0,0.12);
  display: block;
  margin: 4px;
  width: calc(50% - 8px); // columns -> 2
  @media (min-width: 425px) { width: calc(33.333333% - 8px); } // columns -> 3
  @media (min-width: 568px) { width: calc(25% - 8px); } // columns -> 4
  @media (min-width: 768px) { width: calc(20% - 8px); } // columns -> 5

  .image {
    background-color: $gray-background;
    background-size: cover;
    background-position: center;
    display: block;
    height: 88px;
  }
  .inner {
    padding: 8px;
  }
  .name, .description, .pubdate, .station {
    color: $gray-dark;
    line-height: 1.25;
  }
  .name {
    font-size: 12px;
    font-weight: 700;
  }
  .description, .pubdate, .station {
    color: $gray;
    font-size: 10px;
    margin-top: 4px;
  }
  &:hover {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12), 0px 4px 8px 0px rgba(0,0,0,0.18);
  }
}
